---

---
<div class="relative">
    <div class="bg-left bg-no-repeat bg-[url('family-together.webp')] h-96">
    </div>
    
    <div class="absolute inset-0 bg-black opacity-20"></div>
    
    <div class="absolute inset-0 text-white px-4 flex items-center min-[400px]:grid min-[400px]:grid-cols-3 min-[400px]:px-12">
        <div class="col-start-1 col-end-4 text-white flex flex-col gap-y-6">
            <h1 class="text-[26px] font-bold drop-shadow-sm text-shadow max-w-[270px]">
              LOOKING FOR HEALTH INSURANCE?
            </h1>
            <p class="text-shadow max-w-[320px] text-sm">
              You can sign up for or modify health plans if you experience specific life
              changes or income fluctua-tions or are eligible for Medicaid or CHIP.
            </p>
            <div>
              <button class="py-2 px-4 bg-sky-500 rounded-full font-bold
              "> GET STARTED </button>
            </div>
          </div>

    </div>
  </div>

<style>
  .text-shadow {
    text-shadow: 4px 4px 4px rgba(10, 10, 10, 0.8);
  }
</style>
