<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/" />
    <script>
      setTimeout(() => {
        window.location.href = "/";
      }, 0);
    </script>
  </head>
  <body>
  </body>
</html>