---
let { href, name } = Astro.props;
---

<a
  class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-base font-medium text-gray-500 outline-none ring-zinc-500 hover:text-blue-500 focus-visible:ring md:py-3 md:text-sm 2xl:text-base"
  href={href}
>
  {name}
</a>
