---
import PrincipalCardMobile from "./Body/mobile/PrincipalCardMobile.astro";
---

<main class="mobile-layout">
    <PrincipalCardMobile />
</main>

<style>
    @media (min-width: 830px) {
        .mobile-layout {
            display: none
        }
    }
</style>