---
import CardFourCarrousel from "./CardFourCarrousel"
---



<section class="flex justify-center flex-col gap-y-12 min-[850px]:-mt-[5%] min-[900px]:-mt-[10%] min-[970px]:-mt-[12%] lg:-mt-0 py-8">
    <h2 class="text-3xl font-bold text-center">We're here to help</h2>
    <div class="">
        <CardFourCarrousel client:load/>
    </div>
</section>