---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  imageSrc: ImageMetadata;
  header: string;
  description: string;
}

let { imageSrc, header, description } = Astro.props;
---

<div class="flex flex-col items-center gap-y-6">
  <Image src={imageSrc} alt={"Sample Alt"} />
  <div class="flex flex-col items-center gap-y-4">
    <h6 class="text-[#2285fd] text-xl font-bold">{header}</h6>
    <p class="max-w-[290px] text-center text-[#959daf]">{description}</p>
  </div>
</div>
