<div class="relative h-96 lg:h-[550px]">
  <div
    class="absolute inset-0 bg-[url('/hero-bg.webp')] bg-no-repeat max-lg:bg-[length:700px] bg-[400px_center] lg:bg-contain lg:bg-right"
  >
  </div>
  <div class="absolute inset-0 bg-[#e1e1e0] bg-opacity-15"></div>
  <div
    class="absolute inset-y-0 left-0 w-[55%] bg-[#e1e1e0] text-white flex items-center px-12 lg:flex lg:justify-center lg:items-center lg:w-[50%] min-[1280px]:px-32 bg-opacity-[0.98]"
  >
    <div class="flex flex-col gap-y-6">
      <h1 class="text-4xl font-bold drop-shadow-sm max-w-[420px] lg:max-w-[470px] text-[#355dfb] lg:text-[39.5px] lg:leading-[52px]">
        YOUR GUIDE TO QUALITY COVERAGE
      </h1>
      <p class="max-w-[380px] text-base text-[#7c7c7d] lg:text-[17px] lg:max-w-[410px] lg:leading-7">
        Lorem ipsum dolor sit amet,  consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="mt-3">
        <button class="py-2 px-4 bg-[#09b0fe] rounded-full font-bold">
          FIND PLANS
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  .text-shadow {
    text-shadow: 4px 4px 4px rgba(10, 10, 10, 0.8);
  }
</style>
