---
import Carousel from "../tablet-desktop/Carrousel.tsx";
import CardThree from "./CardThree.astro";
import CardTwo from "./CardTwo.astro";
import CardFour from "./CardFour.astro";
import commitedHelp from "../../../../public/committed-help.webp";
import protecting from '../../../../public/protecting.webp';
import ArrowRight from "../../../SVG/ArrowRight.astro";
---

<main class="flex flex-col">
  <div class="py-8 px-4 lg:px-8 gap-y-10">
    <Carousel client:load />
    <CardTwo
      addons
      header="Committed to help you find the right plan"
      imageSrc={commitedHelp}
      btnText="ABOUT INSUREZELLA"
      description=`Insurance is an important financial tool that can help you protect
      yourself and your loved ones from financial losses in the event of an
      unexpected event. It is important to consider your individual needs and
      circumstances when choosing the right insurance coverage for you and your
      family.`
    />
  </div>
  <CardThree />
  <div class="py-8 px-4 lg:px-8 gap-y-10">
    <CardTwo
      header="Protecting people, one policy at a time."
      imageSrc={protecting}
      btnText="LEARN MORE"
      description=`IWe are committed to delivering the highest standards of pro-tection, tailored to meet the unique needs of each individual and family. Our dedicated team of professionals works tirelessly to offer comprehensive insurance solutions that not only safeguard your assets but also offer you the support and asistance you need in times of uncertainty.`
    />
  </div>
  <CardFour />
</main>
