---
// Importa el componente de carrusel
import Carousel from '../tablet-desktop/Carrousel.tsx';
---

<main class="flex flex-col items-center justify-center py-8 px-4 lg:px-8 gap-y-10">
  <Carousel client:load/>

</main>