---
import Carousel from '../tablet-desktop/Carrousel.tsx';
import CardTwo from './CardTwo.astro';
---

<main class="flex flex-col py-8 px-4 lg:px-8 gap-y-10">
  <Carousel client:load/>
  <CardTwo addons/>
</main>