---
import PrincipalCard from "./PrincipalCard.astro";
import SectionOne from "./SectionOne.astro";
---

<main class="tablet-desktop-layout ">
    <PrincipalCard />
    <SectionOne/>
</main>

<style>
    @media (max-width: 829px) {
        .tablet-desktop-layout {
            display: none
        }
    }
</style>