---
import PrincipalCard from "./PrincipalCard.astro";
---

<main class="tablet-desktop-layout">
    <PrincipalCard />
</main>

<style>
    @media (max-width: 829px) {
        .tablet-desktop-layout {
            display: none
        }
    }
</style>