---
interface Props {
  header?: string;
  paragraph?: string;
}
let { header, paragraph } = Astro.props;
---

<section
  class="flex flex-col max-[450px]:gap-y-8 py-12 min-[400px]:items-center gap-y-6"
>
  <div class="flex text-[#2a3143] pr-[18%] min-[490px]:pr-[18%] min-[500px]:justify-center">
    <Fragment set:html={header} />
  </div>
  <div class="flex pl-[20%] min-[500px]:justify-center">
    <Fragment set:html={paragraph}/>
  </div>
</section>
