---
import GiantArrowRight from "../../../SVG/GiantArrowRight.astro";
import GiantArrowLeft from "../../../SVG/GiantArrowLeft.astro";
---

<section
  class="flex py-12 bg-[#4e76f4] px-4 min-[450px]:px-8 items-center gap-x-2"
>
  <div class="grow-0">
    <GiantArrowRight />
  </div>
  <div class="flex flex-col grow items-center">
    <di class="flex flex-col gap-y-5">
      <h2 class="text-[#1c326e] text-2xl font-bold">Understand Your Policy</h2>
      <p class="text-white mb-1 text-sm max-w-[330px]">
        Start by thoroughly reading your health insurance policy documents.
        Familiarize yourself with the terms, coverage limits, and benefits it
        offers
      </p>
      <div class="">
        <button
          class="bg-white py-1 px-6 text-sm rounded-md text-[#4e76f4] font-bold"
        >
          READ MORE
        </button>
      </div>
    </di>
  </div>
  <div class="grow-0">
    <GiantArrowLeft />
  </div>
</section>
