---
import GiantArrowRight from "../../../SVG/GiantArrowRight.astro";
import GiantArrowLeft from "../../../SVG/GiantArrowLeft.astro";
---

<section
  class="flex py-12 bg-[#4e76f4] px-4 min-[450px]:px-8 items-center gap-x-2"
>
  <div class="flex min-[400px]:mx-auto">
    <div class="flex flex-col gap-y-5 w-full">
      <div class="flex w-full">
        <h2
          class="text-[#1c326e] text-2xl font-bold text-right max-w-[280px] min-[400px]:text-3xl min-[400px]:max-w-[300px]"
        >
          Affordable plans to Custom fit You
        </h2>
      </div>
      <div class="flex flex-col gap-y-5">
        <p
          class="text-white mb-1 text-sm max-w-[540px] pl-[19%] min-[400px]:pl-[19%] min-[500px]:pl-[17%]"
        >
          <span class="font-bold">November 1:</span> Open Enrollment starts for health
          coverage for the next plan year -- first day you can enroll in, renew,
          or change health plans through the Marketplace. Coverage can start as soon
          as January 1.
        </p>
        <p
          class="text-white mb-1 text-sm max-w-[540px] pl-[19%] min-[400px]:pl-[19%] min-[500px]:pl-[17%]"
        >
          <span class="font-bold">December 15:</span> Last day to enroll in or change
          plans for coverage to start January 1
        </p>
        <p
          class="text-white mb-1 text-sm max-w-[540px] pl-[19%] min-[400px]:pl-[19%] min-[500px]:pl-[17%]"
        >
          <span class="font-bold">January 1:</span> Coverage starts for those who
          enroll in or change plans by December 15 and pay their first premium.
        </p>
        <p
          class="text-white mb-1 text-sm max-w-[540px] pl-[19%] min-[400px]:pl-[19%] min-[500px]:pl-[17%]"
        >
          <span class="font-bold">January 15:</span> Open Enrollment ends -- last
          day to enroll in or change health plans for the year. After this date,
          you can enroll in or change plans only if you qualify for a Special Enrollment
          Period.
        </p>
        <p
          class="text-white mb-1 text-sm max-w-[540px] pl-[19%] min-[400px]:pl-[19%] min-[500px]:pl-[17%]"
        >
          <span class="font-bold">February 1:</span> Coverage starts for those who
          enroll in or change plans December 16 through January 16 and pay their
          first premiu
        </p>
      </div>
    </div>
  </div>
</section>
