---
import NavBar from "../components/Header/NavBar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex justify-center ">
		<div class="max-w-screen-xl w-full">
			<NavBar />
			<slot/>
		</div>   
  </body>
  
</html>
<script src="../../node_modules/preline/dist/preline.js"></script>
<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
	}
	
	html {
		font-family: system-ui, sans-serif;	
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>